<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project2.mapper.ExpMapper">

	<select id="selectExp" resultType="ExpVO">
		select * from experience 
	where exp_category = #{exp_category} and 
			substr(exp_region,1,2) in (#{exp_region},#{exp_name}) 
	order by 
	</select>
	
	<select id="selectExpReAll" resultType="ExpVO">
		select * from experience where exp_category = #{exp_category}
	
	</select>

	
	
</mapper>