<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project2.mapper.ExpMapper">


	<select id="expList" resultType="ExpVO">
		select e.exp_num, e.user_num,e.exp_name,e.exp_start_date,exp_end_date,
		e.exp_price,e.exp_region,e.exp_category,e.exp_capacity,
		e.exp_ad_state,e.exp_summary_img,e.exp_detail_img,
		e.exp_ad_state,avg(r.rev_star) "rev_avgStar" 
		from experience e left join order_board o 
		on e.exp_num = o.exp_num 
		left join review r 
		on e.exp_num = r.exp_num 
		where e.exp_category = #{exp_category} and substr(e.exp_region,1,2) in (#{exp_region},#{exp_name}) 
		group by e.exp_num
        order by ${exp_ad_state};
	</select>

	<select id="expListAllRegion" resultType="ExpVO">
		select e.exp_num, e.user_num,e.exp_name,e.exp_start_date,exp_end_date,
		e.exp_price,e.exp_region,e.exp_category,e.exp_capacity,
		e.exp_ad_state,e.exp_summary_img,e.exp_detail_img,
		e.exp_ad_state,avg(r.rev_star) "rev_avgStar" 
		from experience e left join order_board o 
		on e.exp_num = o.exp_num 
		left join review r 
		on e.exp_num = r.exp_num 
		where e.exp_category = #{exp_category}  
		group by e.exp_num
        order by ${exp_ad_state};
	</select>
	
	<select id="expOne" resultType="expVO">
		select * from experience 
		where exp_num= #{exp_num} 
	</select>
	
	<select id="expRevList" resultType="RevVO">
		select u.user_name,r.user_num, r.rev_num, r.rev_content, r.rev_regdate, r.rev_star, r.rev_img 
		from review r left join userTable u on r.user_num = u.user_num 
		where r.exp_num = #{exp_num}
	</select>
	
	<select id="avgRevRating" resultType="double">
		select COALESCE(AVG(rev_star), 0)  
		from review 
		where exp_num = #{exp_num}
	</select>
	
	<insert id="insertReview">
		insert into review 
		values(default, #{user_num}, #{exp_num}, #{rev_content},default, #{rev_star}, #{rev_img})
	</insert>
	
	<insert id="insertReport">
		insert into user_report 
		values(default, #{rev_num}, #{user_num}, #{report_user_num},#{report_content}, default, default,default )
	</insert>
	
	<select id="getRevUserNum" resultType="int">
		select user_num from review where rev_num =#{rev_num}
	</select>
	
	<select id="getUserOne" resultType="UserVO">
		select * from userTable where user_num = #{user_num}
	</select>
	
	<update id="updateReview">
		update review set 
		rev_content = #{rev_content}, rev_star = #{rev_star}, rev_img = #{rev_img} 
		where rev_num = #{rev_num} and user_num = #{user_num} 
	</update>
	
	<delete id="deleteReview">
		delete from review where rev_num = #{rev_num} and user_num = #{user_num} 
	</delete>
	
	<insert id="insertOrderBoard">
		insert into order_board values 
		(default,#{order_id},#{user_num},#{exp_num},default,#{order_date},#{payment_id},#{payment_price},#{payment_state},default,#{payment_pg},#{payment_method})
	</insert>
	
	<select id="getExpNumOne" resultType="int">
		select exp_num from experience where exp_name = #{exp_name} 
	</select>
	
</mapper>