<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project2.mapper.PaymentMapper">

<!-- <resultMap type="com.itwillbs.domain.MemberVO" id="memberMap"> -->
<!--   <id property="userid" column="userid"/> -->
<!--   	 <result property="userid" column="userid"/> -->
<!--   	 <result property="userpw" column="userpw"/> -->
<!--   	 <result property="username" column="username"/> -->
<!--   	 <result property="useremail" column="useremail"/> -->
<!--   	 <result property="regdate" column="regdate"/> -->
<!--   	 <result property="updatedate" column="updatedate"/>  -->
<!--   	 1:다 -->
<!--   	<collection property="authList" resultMap="authMap"></collection> -->
<!--   </resultMap> -->
  
<!--   <resultMap type="com.itwillbs.domain.AuthVO" id="authMap"> -->
<!--   		<result property="userid" column="userid"/> -->
<!--   		<result property="auth" column="auth"/>   -->
<!--   </resultMap> -->


	<!-- 클래스를 주문한 사람 상세 내역 -->






</mapper>