<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.project2.mapper.RepoMapper">
<!-- 
<select id="getReview" resultType="ReviewVO">
SELECT 
    ur.report_num,
    ur.user_num AS reported_user_num, 
    ur.report_user_num, 
    ur.report_content,  
    ur.report_regdate,  
    ur.report_updatedate,  
    ur.report_state,  
    rt.rev_num AS reported_review_num,  
    rt.rev_content AS reported_review_content,
    rt.rev_star AS reported_review_star, 
    u.user_id AS reported_user_id,  
    u.user_name AS reported_user_name, 
    r.user_id AS reporting_user_id,  
    r.user_name AS reporting_user_name  
FROM 
    c6d2305t2_2.user_report ur
JOIN 
    c6d2305t2_2.userTable u ON ur.user_num = u.user_num  
JOIN 
   c6d2305t2_2.review rt ON ur.rev_num = rt.rev_num  
JOIN 
    c6d2305t2_2.userTable r ON ur.report_user_num = r.user_num  
</select>

-->

      </mapper> 