<?xml version="1.0" encoding="UTF-8"?>
<!-- /mappers/memberMapper.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--    namespace정보는 외부에서 해당 mapper(xml)를 찾을 수 있는 이름 -->
  <mapper namespace="com.project2.mapper.UserMapper">
  
  <insert id="insertUser">
  	insert into c6d2305t2_2.user
  	(
  	user_id,
  	user_pw,
  	user_name,
  	user_phone
  	) 
  	values
  	(
  	#{user_id},
  	#{user_pw},
  	#{user_name},
  	#{user_phone}
  	)
  </insert>
  
  <select id="loginUser" resultType="com.project2.domain.UserVO">
  	select * from c6d2305t2_2.user 
  	where user_id=#{user_id} and user_pw=#{user_pw}
  </select>
  
  </mapper>