<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project2.mapper.UserMapper">
    <insert id="insertUser">
        insert into c6d2305t2_2.userTable
        (user_id, user_pw, user_name, user_phone)
        values (#{user_id}, #{user_pw}, #{user_name}, #{user_phone})
    </insert>

    <select id="loginUser" resultType="com.project2.domain.UserVO">
        select * from c6d2305t2_2.userTable
        where user_id = #{user_id} and user_pw = #{user_pw}
    </select>

    <select id="getUser" resultType="UserVO">
        select * from c6d2305t2_2.userTable
        where user_id = #{user_id}
    </select>

    <update id="updateUser">
        update c6d2305t2_2.userTable
        set user_pw = #{user_pw}, user_name = #{user_name}, user_phone = #{user_phone}
        where user_id = #{user_id}
    </update>

    <delete id="deleteUser">
        delete from c6d2305t2_2.userTable
        where user_id = #{user_id} and user_pw = #{user_pw}
    </delete>

    <select id="getUserList" resultType="UserVO">
        select * from c6d2305t2_2.userTable
        where user_id != 'admin'
    </select>

    <!-- 회원등급 변경 -->
    <select id="getUserByUserId" resultType="UserVO">
        SELECT * FROM userTable WHERE user_id = #{user_id}
    </select>
    <update id="updateUserGrade">
        UPDATE userTable
        SET user_type = #{user_type}
        WHERE user_id = #{user_id}
    </update>
    
    <!-- 이메일 -->
  <!--      <insert id="insertUser" parameterType="com.example.model.User">
        INSERT INTO users (user_id, user_pw, user_name, user_phone, user_regdate, user_last_access, user_type)
        VALUES (#{userId}, #{userPw}, #{userName}, #{userPhone}, #{userRegdate}, #{userLastAccess}, #{userType})
    </insert>

    <select id="getUserByEmail" resultType="com.example.model.User">
        SELECT * FROM users WHERE user_id = #{email}
    </select> -->
    
</mapper>
